@{
    ViewData["Title"] = "Movie Summary";
}

@model Movie

<h2>@Model.Title has been registered.</h2>

<p>
    <table>
        <th>ID</th>
        <tr>
            <td>@Model.ID</td>
        </tr>
    </table>
</p>

<p>
    <table>
        <th>Title</th>
        <tr>
            <td>@Model.Title</td>
        </tr>
    </table>
</p>

<p>
    <table>
        <th>Genre</th>
        <tr>
            <td>@Model.Genre</td>
        </tr>
    </table>
</p>

<p>
    <table>
        <th>Year</th>
        <tr>
            <td>@Model.Year</td>
        </tr>
    </table>
</p>

<p>
    <table>
        <th>Actors</th>
        @foreach (string actor in Model.Actors)
        {
            <tr>
                <td>@actor</td>
            </tr>
        }
    </table>
</p>

<p>
    <table>
        <th>Directors</th>
        @foreach (string director in Model.Directors)
        {
            <tr>
                <td>@director</td>
            </tr>
        }
    </table>
</p>



